.h1 {
  padding: 1%;
  margin: 0;
  
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  color: #000;
  text-align: center;

  box-sizing: border-box;
  width: 100%;
  background-color: gray;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px #ccc, inset 0 1px 0 #fff;
}

.list ul {  
  padding: 1%;
  margin-top: 5px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #D3D3D3;
  align-items: flex-start;
}

.list li {
  align-self: flex-start;
  display: inline-flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  width: 95%;
  margin-top: 10px;
}

.item {
  padding: 0;
  margin-bottom: 15px;
}

.item h2{
  margin: 5px 0;
}

.item hr{
  margin-bottom: 0;
  color: #000;
  background-color: #000;
  height: 1px;
}

.item p {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  
  padding: 5px;
  text-align: justify;
  display: inline-block;
  vertical-align: middle;
  width: 55%;
}

.item img {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid black;
  width: 40%;
}

.item button {
  padding: 3%;
  vertical-align: middle;

  margin-left: 15px;
  display: inline-block;
  background-color: black;
  border-radius: 25px;
  color: whitesmoke;
  font-size: 15px;
  width: 55%;
  border: none;
}

.item strong{
  vertical-align: middle;

  display: inline-block;
  width: 40%;
}