.h1 {
  /* Positioning */
  padding: 1%;
  margin: 0;
  
  /* Typography */
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  color: #000;
  text-align: center;

  /* Visual */
  box-sizing: border-box;
  width: 100%;
  background-color: gray;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px #ccc, inset 0 1px 0 #fff;
}

.list ul {  
  /* Positioning */
  padding: 1%;
  margin-top: 5px;

  /* Visual */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.list li {
  /* Visual */
  align-self: flex-start;
  order: 3;
  display: inline-flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  width: 31%;
  margin-top: 10px;
}

.item {
  /* Positioning */
  padding: 0px;

  /* Visual */
  margin-bottom: 15px;
}

.item h2{
  /* Visual */
  margin-top: 5px;
  margin-bottom: 5px;
}

.item hr{
  /* Visual */
  margin-bottom: 0;
}

.item p {
  /* Typography */
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  
  /* Visual */
  padding: 5px;
  text-align: justify;
  display: inline-block;
  vertical-align: middle;
  width: 55%;
}

.item img {
  /* Visual */
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  width: 40%;
}

.item button {
  /* Positioning */
  padding: 3%;
  vertical-align: middle;

  /* Visual */
  margin-left: 15px;
  display: inline-block;
  background-color: black;
  border-radius: 25px;
  color: whitesmoke;
  font-size: 15px;
  width: 55%;
  border: none;
}

.item strong{
  /* Positioning */
  vertical-align: middle;

  /* Visual */
  display: inline-block;
  width: 40%;
}