.h1 {
  padding: 2%;
  margin: 0;

  font-family: "Titillium Web", sans-serif;
  font-size: 50px;
  color: #000;
  text-align: center;

  box-sizing: border-box;
  width: 100%;
  background-color: gray;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px #ccc, inset 0 1px 0 #fff;
}

.container ul {  
  padding: 5%;
  margin-top: 5px;

  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  background-color: #D3D3D3;
  width: 90%;
}

.container li {
  align-self: center;
  padding: 5px;
  width: 95%;
  margin-top: 10px;
}

.item {
  padding: 2%;
  margin-bottom: 15px;
}

.item h2{
  margin: 5px 0;
  font-size: 50px;
}

.item hr{
  color: #000;
  background-color: #000;
  height: 2px;
}

.item .body {
  margin: 0;
}

.item .body p {
  font-family: "Libre Franklin", sans-serif;
  font-size: 36px;
  
  padding: 5px;
  text-align: justify;
  display: inline-block;
  vertical-align: middle;
  width: 49%;
}

.item .body img {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid black;
  width: 47%;
}

.item .footer button {
  padding: 3%;
  vertical-align: middle;

  margin-left: 15px;
  display: inline-block;
  background-color: black;
  border-radius: 25px;
  color: whitesmoke;
  font-size: 37px;
  width: 55%;
  border: none;
}

.item .footer strong{
  vertical-align: middle;

  display: inline-block;
  font-size: 37px;
  width: 40%;
}