$align: center;
$color-black: rgb(0 ,0 ,0);
$pixels: 5px;

.title {
  $box-props: 0 2px 2px $color-black inset 0 0 1px $color-black;
  $color-border: rgba(229, 229, 229, 0.89);
  $margin-props: $pixels 0; 

  background-color: rgb(112, 112, 112);
  border: 2px solid $color-border;
  border-radius: $pixels;
  box-shadow: $box-props;
  box-sizing: border-box;
  margin: $margin-props;
  font-family: "Titillium Web", sans-serif;
  font-size: 50px;
  object-position: center;
  padding: 2%;
  text-align: $align;
  width: 100%;
}

.grid {  
  $margin-props: $pixels 0;
  $block: inline-block; 
  $vertical: middle;

  background-color: rgb(212, 212, 212);
  display: flex;
  flex-flow: column wrap;
  justify-content: $align;
  list-style-type: none;
  margin-top: $pixels;
  padding: 5%;
  position: relative;
  left: 2px;
  width: 89.6%;

  &__item {
    align-self: $align;
    margin: $margin-props;
    padding: $pixels;
    width: 95%;
  }

  &__title {
    margin: $margin-props;
    font-size: 50px;
  }

  &__separator {
    background-color: $color-black;
    color: $color-black;
    height: 2px;
  }

  &__content {
    margin: $margin-props;
  }

  &__description {
    display: $block;  
    font-family: "Libre Franklin", sans-serif;
    font-size: 33px;
    margin-left: $pixels;
    padding: $pixels;
    text-align: justify;
    vertical-align: $vertical;
    width: 50%;
  }
      
  &__image {
    border: 1px solid $color-black;
    display: $block;
    vertical-align: $vertical;
    width: 46%;
  }

  &__footer {
    $margin-props: 15px 0;
    margin: $margin-props;
  }
      
  &__buttom {
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    color: rgb(245, 245, 245);
    display: $block;
    font-size: 37px;
    margin-left: 30px;
    padding: 3%;
    vertical-align: $vertical;
    width: 55%; 
  }
  
  &__note {
    display: $block;
    font-size: 37px;  
    vertical-align: middle;
    width: 40%;
  }
}

  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1080px) {
    .grid{
      flex-wrap: wrap;

      position: relative;
      left: 3px;

      &__item{
        align-self: flex-start;
        padding: 0;
        width: 100%;
      }

      &__description{
        font-size: 22px;
        margin-left: 15px;
        width: 55%;
      }

      &__title{
        font-size: 37px;
      }

      &__image{
        width: 30%;
      }

      &__buttom{
        border-radius: 50px;
        font-size: 20px;
        width: 35%;
      }

      &__note{
        font-size: 27px;
        width: 55%;
      } 
    }
  }

  @media only screen 
  and (min-device-width: 1080px) 
  and (max-device-width: 1280px) {
    .grid{
      justify-content: space-between;
      flex-flow: row wrap;
      list-style: none;

      position: relative;
      left: 3px;

      width: 89.55%;

      &__item{
        align-self: flex-start;
        padding: 0;
        width: 31.5%;
      }

      &__title{
        font-size: 20px;
      }

      &__description {
        font-size: 82.5%;
        margin-left: 0;
        width: 47%;
      }

      &__image {
        width: 47%;
        height: 150px;
      }

      &__buttom {
        border-radius: 50px;
        font-size: 16px;
        width: 45%;
      }

      &__note {
        font-size: 16px;
        width: 42%;
      }  
    }
  }


