.topnav {
  position: relative;
  bottom: 8px;
  right: 8px;
  background-color: black;
  width: 105vw;
  height: 10vh;
}
.topnav__image {
  position: absolute;
  left: 2%;
  bottom: 5%;
  background-size: cover;
  width: 25vh;
  height: 70%;
}
.topnav__hamburger {
  position: absolute;
  right: 3%;
  background-size: cover;
  width: 10%;
  height: 100%;
  fill: white;
}

.banner {
  position: relative;
  right: 8px;
  bottom: 8px;
  width: 105vw;
  height: 47vh;
}
.banner__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("../../assets/banner-mobile.png");
}

.content {
  position: relative;
  left: 5vw;
  bottom: 0.5vh;
  width: 90%;
  height: 175px;
}
.content__title {
  width: 100%;
  padding: 3%;
  font-family: Arial;
  font-size: 3.5em;
  color: black;
}
.content__searchBar {
  width: 95%;
  height: 4.5vw;
  padding: 3%;
  margin-top: -3%;
  margin-left: 2.3%;
  background-color: transparent;
  border: 1px groove gray;
  border-radius: 50px;
}
.content__input {
  position: relative;
  bottom: 28px;
  left: 13px;
  width: 75%;
  border: none;
  background-color: transparent;
  font-family: Arial;
  font-size: 3.2em;
  color: #8e8e8e;
}
.content__button {
  position: relative;
  bottom: 10px;
  left: 11.5vw;
  background-image: url("../../assets/search.png");
  background-color: transparent;
  background-size: contain;
  border: none;
  width: 70px;
  height: 70px;
}
.content__button--click {
  background-color: transparent;
}

.grid {
  position: relative;
  top: 10vh;
  left: 5vw;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  list-style-type: none;
  margin-top: 5px;
  width: 90%;
}
.grid__item {
  position: relative;
  top: 0;
  right: 22px;
  align-self: center;
  width: 100%;
  margin: 5px 0;
}
.grid__title {
  font-family: Arial;
  font-size: 3.5em;
  line-height: 0;
  color: black;
}
.grid__separator {
  border: 2px solid #D8D8D8;
  width: 100%;
}
.grid__content {
  margin: 5px 0;
}
.grid__description {
  display: inline-block;
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.2em;
  margin-left: 9px;
  text-align: justify;
  vertical-align: middle;
  width: 55%;
}
.grid__image {
  border: none;
  display: inline-block;
  vertical-align: middle;
  width: 40%;
}
.grid__footer {
  margin: 5px 0;
}
.grid__buttom {
  background-color: black;
  border: none;
  border-radius: 45px;
  color: whitesmoke;
  display: inline-block;
  font-family: Arial;
  font-size: 2.3em;
  line-height: 16px;
  margin-left: 10px;
  padding: 3%;
  vertical-align: middle;
  height: 5vh;
  width: 45%;
}
.grid__note {
  display: inline-block;
  font-family: Arial;
  font-size: 2.5em;
  line-height: 30px;
  vertical-align: middle;
  width: 52%;
}

.footer {
  position: relative;
  right: 8px;
  top: 10vh;
  width: 105vw;
  height: 12vh;
  color: white;
  background: #000000;
}
.footer__description {
  position: absolute;
  left: 3vw;
  bottom: 4vh;
  width: 95%;
  font-size: 2.3em;
}
.footer__link {
  position: absolute;
  top: 7.5vh;
  left: 3vw;
  width: 95%;
  font-size: 2.3em;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1080px) {
  .topnav {
    height: 10vh;
  }
  .topnav__image {
    position: absolute;
    left: 2%;
    bottom: 7%;
    background-size: cover;
    width: 20vh;
    height: 75%;
  }
  .topnav__hamburger {
    position: absolute;
    right: 3%;
    background-size: cover;
    width: 7%;
    height: 100%;
    fill: white;
  }

  .banner {
    position: relative;
    right: 8px;
    bottom: 8px;
    width: 105vw;
    height: 55vh;
  }
  .banner__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("../../assets/banner-mobile.png");
  }

  .content {
    position: absolute;
    left: 5.5%;
    top: 40%;
  }
  .content__title {
    width: 60%;
    font-family: Arial;
    font-size: 2.9em;
    color: white;
  }
  .content__searchBar {
    width: 90%;
    padding: 1%;
    margin-top: -3%;
    margin-left: 4.5%;
    background-color: white;
    border: 1px groove gray;
    border-radius: 50px;
  }
  .content__input {
    position: relative;
    bottom: 9px;
    left: 15px;
    width: 75%;
    border: none;
    background-color: transparent;
    font-family: Arial;
    font-size: 1.5em;
    color: #8e8e8e;
  }
  .content__button {
    position: relative;
    top: 5px;
    left: 13vw;
    background-image: url("../../assets/search.png");
    background-color: transparent;
    background-size: contain;
    border: none;
    width: 40px;
    height: 40px;
  }
  .content__button--click {
    background-color: transparent;
  }

  .grid {
    justify-content: space-between;
    flex-flow: row wrap;
    list-style: none;
    top: 0vh;
    width: 90%;
  }
  .grid__item {
    align-self: flex-start;
    padding: 5px 0;
    width: 48%;
  }
  .grid__title {
    font-size: 150%;
  }
  .grid__separator {
    border: 1px solid #D8D8D8;
    width: 100%;
  }
  .grid__image {
    width: 16vw;
  }
  .grid__description {
    width: 25vw;
    height: 12vh;
    font-size: 1.1rem;
    line-height: 1.55vh;
  }
  .grid__buttom {
    font-size: 1.2em;
    margin-left: 0.1vw;
    padding: 3%;
    vertical-align: middle;
    width: 48%;
    height: 4.5vw;
  }
  .grid__note {
    font-size: 120%;
    width: 50%;
  }

  .footer {
    top: 1vh;
    height: 8vh;
    font-size: 1.2em;
  }
  .footer__description {
    margin-left: 2vh;
    position: unset;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.25em;
    width: 70%;
  }
  .footer__link {
    position: unset;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.25em;
    width: 25%;
  }
}
@media only screen and (min-device-width: 1080px) and (max-device-width: 1280px) {
  .topnav {
    height: 10vh;
  }
  .topnav__image {
    position: absolute;
    left: 2%;
    bottom: 7%;
    background-size: cover;
    width: 24vh;
    height: 75%;
  }
  .topnav__hamburger {
    position: absolute;
    right: 3%;
    background-size: cover;
    width: 7%;
    height: 100%;
    fill: white;
  }

  .grid {
    justify-content: space-between;
    flex-flow: row wrap;
    list-style: none;
    position: relative;
    left: 3px;
    width: 90%;
  }
  .grid__item {
    align-self: flex-start;
    padding: 0;
    width: 31.5%;
  }
  .grid__title {
    font-size: 29px;
  }
  .grid__description {
    font-size: 82.5%;
    margin-left: 0;
    width: 47%;
  }
  .grid__image {
    width: 47%;
    height: 150px;
  }
  .grid__buttom {
    border-radius: 50px;
    font-size: 16px;
    width: 45%;
  }
  .grid__note {
    font-size: 16px;
    width: 42%;
  }
}